# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - MSBuildTestDeploy

env:
  AZURE_WEBAPP_NAME: MSBuildTestDeploy
  PUBLISH_PATH: './publish/'
  NUGET_CONFIG_PATH: './CARM Online/nuget.config'
  SOLUTION: './TestDeployMSBuildApp.sln'
  PLATFORM: 'any cpu'
  CONFIGURATION: 'release'

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.2.0
      with:
        nuget-version: 4.4.1
      
    - name: Restore Packages
      run: nuget restore "${{ env.SOLUTION }}"

    - name: Build Solution
      run: |
        msbuild.exe "${{ env.SOLUTION }}" /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="${{ env.PLATFORM }}" /p:configuration="${{ env.CONFIGURATION }}" /p:PublishUrl="${{ env.PUBLISH_PATH }}"      
        
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: EZRepBundle
        path: "${{ env.PUBLISH_PATH }}"
    
    - name: Publish Artifacts to Azure
      uses: Azure/webapps-deploy@v2
      with:
        app-name: "${{ env.AZURE_WEBAPP_NAME }}"
        slot-name: 'Production'
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_AD24D2542F8A410B969F39BEC0385946 }}
        package: "${{ env.PUBLISH_PATH }}"  